*{
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
}
span {
    display: block;
  }

h1,h2{
    text-align: center;
    margin: 30px;
}
.canvas{
    width: 80%;
    margin: 100px auto 100px;
    text-align: center;
}

.button{
    border: 2px solid black;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 40px;
    margin: 30px;
    
}

#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}